.list-item {
    width: 449px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0 10px;
}

.check-item-img {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}